.container {
    background-image: url(../resources/Hogwarts_night.jpeg);
    background-size: cover 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 20px;
}

.main-title {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy, papyrus;
}

.sub-title {
  text-align: center;
    color: #f3d381;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy, copperplate;
}


.main-wrapper {
    display: flex;
    padding: 70px 70px;
    justify-content: space-between;
}

.left-container {
    background-color: rgba(111, 111, 111, 0.5);
    border-radius: 10px;
    min-height: 400px;
    width: 70%;
    padding: 30px 40px;
}

.left-container .preference{ 
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.left-container #start,.left-container #end{ 
  width: 148px;
}

.right-container {
    background-color: rgb(103,89,76, 0.7);
    border-radius: 10px;
    height: 200px;
    width: 15%;
    padding: 20px;
}

.right-container .preference{ 
    color: rgb(222,212,184);
}

.right-container .right-container-title{ 
    color: rgb(222,212,184);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}